<% provide(:title, 'About') %>
<h1>About</h1>

<p>
  <strong>Symposium</strong> is a blog-based web application,
  built with the <i>supermegacool</i> web framework -
  <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.
</p>
