<% provide(:title, 'About') %>
<h1>About</h1>

<p>
  <a href="https://www.github.com/wencakisa/symposium" target="_blank">
    <strong>Symposium</strong>
  </a>
  is a blog-based web application, built with the <i>supermegacool</i> web framework -
  <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.
</p>

<p>
  <a href="https://www.merriam-webster.com/dictionary/symposium" target="_blank">
    Wonder why <strong>Symposium?</strong>
  </a>
</p>
