<div class="jumbotron">
  <h1>Welcome to Symposium!</h1>

  <% unless logged_in? %>
    <p>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary', role: 'button' %>
    </p>
  <% end %>
</div>
