<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Update my profile') %>

<h1>Edit your user info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="thumbnail">
      <a href="http://gravatar.com/emails", target="_blank" rel="noopener">
        <%= gravatar_for(@user, size: 180, centered: true) %>
      </a>
    </div>

    <%= render 'form' %>
  </div>
</div>
