<% provide(:title, 'Users') %>

<% if @users.empty? %>
  <h1>There are no users yet.</h1>
<% else %>
  <h1>All users: </h1>

  <%= render 'pagination' %>
  <ul class="list-group">
    <%= render @users %>
  </ul>
  <%= render 'pagination' %>
<% end %>
