<% provide(:title, 'Users') %>

<% if @users.empty? %>
  <h1>There are no users yet.</h1>
<% else %>
  <h1>All users: </h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, user %></li>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <ul class="list-group">
  </ul>
<% end %>
