<% provide(:title, "User #{@user.name}") %>

<div class="row">
  <div class="col-md-3">
    <%= gravatar_for(@user) %>
  </div>
  <div class="col-md-7 col-md-offset-2" id="profileInfo">
    <p><strong>Name: </strong><%= @user.name %></p>
    <p><strong>Email: </strong><%= @user.email %></p>
  </div>
</div>
