<!DOCTYPE html>
<html>
  <head>
    <title>Symposium</title>
    <%= render 'layouts/rails_defaults' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
